InterconnectedSoulsSDL/InterconnectedSoulsSDL.vcxproj.user
InterconnectedSoulsSDL/InterconnectedSoulsSDL.vcxproj.filters
InterconnectedSoulsSDL/InterconnectedSoulsSDL.vcxproj
InterconnectedSoulsSDL/Main
InterconnectedSoulsSDL/.vs/ProjectSettings.json
InterconnectedSoulsSDL/.vs/VSWorkspaceState.json
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/FileContentIndex/6bd951ba-0a4e-4da2-95bc-f2bb837eab5e.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/FileContentIndex/20b32609-a010-4a4d-b4ca-da8228da7863.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/FileContentIndex/289d664d-7923-4861-9c72-fc9f46e3677d.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/FileContentIndex/72069d0d-8c14-4050-a965-e589de8c8f95.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/FileContentIndex/e1f8674c-a4b0-4341-9030-b6e00f09ebcb.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/.suo
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/.wsuo
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/Browse.VC.db
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/Solution.VC.db
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/ipch/AutoPCH/8985cb96b67b4ba2/IMAGE.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/ipch/AutoPCH/abc13f6eeccac2a0/MAIN.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/ipch/AutoPCH/ad354f7ad0a0e152/MAIN.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL/v17/ipch/AutoPCH/c89b8b845a05cb3c/PLAYER.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/FileContentIndex/8ad69f9a-cf29-4001-ac54-fc3e7b252833.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/FileContentIndex/19d937b1-1cb4-43c4-b491-c05bd54e2f19.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/FileContentIndex/455e00a0-c1a6-43f2-956f-1274449523f1.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/FileContentIndex/43716d1f-1593-46d3-823e-20e2dd663ef1.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/FileContentIndex/c856aab6-2a3a-489e-8c73-b7228fbffd14.vsidx
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/.suo
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/.wsuo
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/Browse.VC.db
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/Solution.VC.db
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/ipch/AutoPCH/2f0f23b19073ac9a/GAME.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/ipch/AutoPCH/7f4d537e1848840e/MAIN.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/ipch/AutoPCH/97549606cca5e18c/MAIN.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/ipch/AutoPCH/ac8589fe65ec240d/MAIN.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/ipch/AutoPCH/da2a31f8c5141e08/MAIN.ipch
InterconnectedSoulsSDL/.vs/InterconnectedSoulsSDL2/v17/ipch/AutoPCH/e42093f7b80738dd/GAME.ipch
SnakeGameSDL/SnakeGameSDL.sln
SnakeGameSDL/.vs/SnakeGameSDL/FileContentIndex/4cf59fdb-715f-4200-8fc1-c3e606a2b4a7.vsidx
SnakeGameSDL/.vs/SnakeGameSDL/v17/.suo
SnakeGameSDL/.vs/SnakeGameSDL/v17/Browse.VC.db
SnakeGameSDL/.vs/SnakeGameSDL/v17/Solution.VC.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
InterconnectedSoulsSDL/.vs/slnx.sqlite
InterconnectedSoulsSDL/.vscode/settings.json
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/CL.command.1.tlog
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/Cl.items.tlog
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/CL.read.1.tlog
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/CL.write.1.tlog
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/link.command.1.tlog
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/link.read.1.tlog
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/link.write.1.tlog
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.tlog/SnakeGame.lastbuildstate
SnakeGameSDL/SnakeGame/cmake-build-debug/.ninja_deps
SnakeGameSDL/SnakeGame/cmake-build-debug/.ninja_log
SnakeGameSDL/SnakeGame/cmake-build-debug/build.ninja
SnakeGameSDL/SnakeGame/cmake-build-debug/cmake_install.cmake
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeCache.txt
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/query/cache-v2
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/reply/cache-v2-0132b061666261dada25.json
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1001a17a71376b786621.json
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b5cc92df2cc12ee93cd6.json
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/reply/index-2024-01-13T20-16-12-0332.json
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/reply/target-SnakeGame-Debug-8e56d308674d5e5bed2e.json
SnakeGameSDL/SnakeGame/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-650bc80a41e6ecc2bf86.json
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/clion-environment.txt
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/cmake.check_cache
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/rules.ninja
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/TargetDirectories.txt
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/a.exe
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/a.exe
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
SnakeGameSDL/SnakeGame/cmake-build-debug/CMakeFiles/SnakeGame.dir/src/MainSnakegame.cpp.obj
SnakeGameSDL/SnakeGame/cmake-build-debug/Testing/Temporary/LastTest.log
SnakeGameSDL/SnakeGame/lib/x64/LICENSE.jpeg.txt
SnakeGameSDL/SnakeGame/lib/x64/LICENSE.png.txt
SnakeGameSDL/SnakeGame/lib/x64/LICENSE.tiff.txt
SnakeGameSDL/SnakeGame/lib/x64/LICENSE.webp.txt
SnakeGameSDL/SnakeGame/lib/x64/LICENSE.zlib.txt
SnakeGameSDL/SnakeGame/lib/x86/LICENSE.jpeg.txt
SnakeGameSDL/SnakeGame/lib/x86/LICENSE.png.txt
SnakeGameSDL/SnakeGame/lib/x86/LICENSE.tiff.txt
SnakeGameSDL/SnakeGame/lib/x86/LICENSE.webp.txt
SnakeGameSDL/SnakeGame/lib/x86/LICENSE.zlib.txt
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.Build.CppClean.log
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.exe
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.exe.recipe
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.ilk
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.log
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.pdb
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.vcxproj.FileListAbsolute.txt
SnakeGameSDL/SnakeGame/x64/Debug/vc143.idb
SnakeGameSDL/SnakeGame/x64/Debug/vc143.pdb
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.tlog/Cl.items.tlog
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.tlog/link.command.1.tlog
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.tlog/link.write.1.tlog
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.tlog/SnakeGame.lastbuildstate
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/vc143.pdb
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.log
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.iobj
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.ipdb
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.exe.recipe
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/SnakeGame.Build.CppClean.log
SnakeGameSDL/SnakeGame/build/x64/Release/IntermediateFilesDir/MainSnakegame.obj
SnakeGameSDL/SnakeGame/build/x64/Release/SnakeGame.pdb
SnakeGameSDL/SnakeGame/build/x64/Release/SnakeGame.exe
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CompilerIdCXX/a.out
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CompilerIdC/CMakeCCompilerId.c
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CompilerIdC/a.out
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CMakeSystem.cmake
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CMakeDetermineCompilerABI_CXX.bin
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CMakeDetermineCompilerABI_C.bin
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CMakeCCompiler.cmake
SnakeGameSDL/SnakeGame/build/CMakeFiles/3.27.0/CMakeCXXCompiler.cmake
SnakeGameSDL/SnakeGame/build/CMakeFiles/TargetDirectories.txt
SnakeGameSDL/SnakeGame/build/CMakeFiles/rules.ninja
SnakeGameSDL/SnakeGame/build/CMakeFiles/CMakeConfigureLog.yaml
SnakeGameSDL/SnakeGame/build/CMakeFiles/cmake.check_cache
SnakeGameSDL/SnakeGame/build/CMakeCache.txt
SnakeGameSDL/SnakeGame/build/cmake_install.cmake
SnakeGameSDL/SnakeGame/build/build.ninja
SnakeGameSDL/SnakeGame/.vs/SnakeGameSDL/v17/Browse.VC.db
SnakeGameSDL/SnakeGame/.vs/SnakeGameSDL/v17/Solution.VC.db
SnakeGameSDL/SnakeGame/.vs/SnakeGameSDL/v17/.suo
SnakeGameSDL/SnakeGame/.idea/SnakeGame.iml
SnakeGameSDL/SnakeGame/.idea/modules.xml
SnakeGameSDL/SnakeGame/.idea/misc.xml
SnakeGameSDL/SnakeGame/SnakeGameSDL.sln
SnakeGameSDL/SnakeGame/SnakeGame.vcxproj.user
SnakeGameSDL/SnakeGame/SnakeGame.vcxproj.filters
SnakeGameSDL/SnakeGame/SnakeGame.vcxproj
SnakeGameSDL/SnakeGameSDL.sln
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.ilk
SnakeGameSDL/SnakeGame/x64/Debug/SnakeGame.Build.CppClean.log
