InterconnectedSoulsSDL/InterconnectedSoulsSDL.vcxproj.user
InterconnectedSoulsSDL/InterconnectedSoulsSDL.vcxproj.filters
InterconnectedSoulsSDL/InterconnectedSoulsSDL.vcxproj
InterconnectedSoulsSDL/Main
InterconnectedSoulsSDL/.vs/
SnakeGameSDL/SnakeGameSDL.sln
SnakeGameSDL/.vs/SnakeGameSDL/FileContentIndex/4cf59fdb-715f-4200-8fc1-c3e606a2b4a7.vsidx
SnakeGameSDL/.vs/SnakeGameSDL/v17/.suo
SnakeGameSDL/.vs/SnakeGameSDL/v17/Browse.VC.db
SnakeGameSDL/.vs/SnakeGameSDL/v17/Solution.VC.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
InterconnectedSoulsSDL/.vs/slnx.sqlite
InterconnectedSoulsSDL/.vscode/settings.json
SnakeGameSDL/SnakeGame/cmake-build-debug/** */
SnakeGameSDL/SnakeGame/lib/
SnakeGameSDL/SnakeGame/x64/
SnakeGameSDL/SnakeGame/build/   
SnakeGameSDL/SnakeGame/.vs/
SnakeGameSDL/SnakeGame/.idea/
SnakeGameSDL/SnakeGame/SnakeGameSDL.sln
SnakeGameSDL/SnakeGame/SnakeGame.vcxproj.user
SnakeGameSDL/SnakeGame/SnakeGame.vcxproj.filters
SnakeGameSDL/SnakeGame/SnakeGame.vcxproj
SnakeGameSDL/SnakeGameSDL.sln
SnakeGameSDL/SnakeGame/x64/